.box-shadow {
  -webkit-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  -moz-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
}
.nav_top {
  position: fixed;
  top: 0px;
  left: 0px;
  line-height: 60px;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeff2;
  -webkit-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  -moz-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
}
.nav_top .logo {
  float: left;
  display: inline-block;
  border-right: 1px solid #eeeff2;
  padding: 0 3em;
}
.nav_top .logo i {
  display: inline-block;
  float: left;
  height: 60px;
  width: 70px;
  background: center center no-repeat url(../img/logo.png);
  background-size: 100%;
}
.nav_top .logo span {
  float: left;
  margin-left: 10px;
  font-size: 2em;
  color: #576369;
}
.nav_top #search {
  position: relative;
  float: left;
  width: 250px;
  height: 60px;
  background: #ffffff;
  transition: all 0.5s;
  border-left: 1px solid #eeeff2;
  border-right: 1px solid #eeeff2;
  padding-left: 2em;
  padding-right: 0;
  font-size: 1.5em;
}
.nav_top #search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
}
.nav_top #search button {
  position: absolute;
  right: 1em;
  font-size: 1.6em;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
  padding: 0 0.25em;
  color: #adb6bd;
}
.nav_top #search button i {
  color: #adb6bd;
  margin-right: .6em;
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  /* Firefox 4 */
  -webkit-transition: all 0.6s;
  /* Safari 和 Chrome */
  -o-transition: all 0.6s;
}
.nav_top #search button:hover i {
  color: #576369;
  margin-right: 0;
}
.nav_top #search input::-webkit-input-placeholder {
  color: #adb6bd;
}
.nav_top #search input::-moz-placeholder {
  color: #adb6bd;
}
.nav_top #search input:-ms-input-placeholder {
  color: #adb6bd;
}
.nav_top #search input::placeholder {
  color: #adb6bd;
}
.nav_top #search .spinner {
  position: absolute;
  right: 1em;
  top: 0;
  color: #576369;
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  display: none;
}
.nav_top #search.loading button {
  display: none;
}
.nav_top #search.loading .spinner {
  display: block;
  padding: 0 0.25em;
}
@-webkit-keyframes buttoner {
  0% {
    margin-right: 0em;
  }
  100% {
    margin-right: -1em;
  }
}
@keyframes buttoner {
  0% {
    margin-right: 0em;
  }
  100% {
    margin-right: -1em;
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.nav_top .close {
  float: right;
  width: 60px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  /* Important styles */
  /* on activation */
  /* menu appearance*/
  /* demo styles */
  /*
	i {
		color: @word-black;
		font-size: 1.6em;
		transition: all .5s;
		vertical-align: middle;
	}
	&:active, &:hover {
		i {
			 -webkit-animation: close-rotate .5s infinite linear;
    animation: close-rotate .5s infinite linear;
		}
	}*/
  /*.outer {
  position: relative;
  margin: auto;
  width: 50px;	height: 40px;
	line-height: @height;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size:1em; 
line-height: 1em;
  text-transform: uppercase;
  color:@word-black;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 2px;
  width: inherit;
  background: @word-black;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
}

/*

@-webkit-keyframes close-rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

30% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	60% {
		-webkit-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes close-rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

20% {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	40% {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	60% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	80% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}*/
}
.nav_top .close .toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}
.nav_top .close .toggle span:after,
.nav_top .close .toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.nav_top .close .toggle span:after {
  top: 9px;
}
.nav_top .close .toggle span {
  position: relative;
  display: block;
}
.nav_top .close .toggle span,
.nav_top .close .toggle span:after,
.nav_top .close .toggle span:before {
  width: 100%;
  height: 2px;
  background-color: #576369;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 0.5em;
}
.nav_top .close .toggle.on span {
  background-color: transparent;
}
.nav_top .close .toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav_top .close .toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.nav_top .close .toggle.on + .menu {
  opacity: 1;
  visibility: visible;
}
.nav_top .close .menu {
  -webkit-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  -moz-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  position: absolute;
  border: 1px solid #f6f6f9;
  right: 10px;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 0.5em;
  background: #ffffff;
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
.nav_top .close .menu:after {
  position: absolute;
  top: -15px;
  left: 180px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
.nav_top .close ul,
.nav_top .close li,
.nav_top .close li a {
  line-height: 30px;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.nav_top .close li a {
  padding: 5px;
  color: #576369;
  text-decoration: none;
  transition: all .2s;
}
.nav_top .close li a:hover,
.nav_top .close li a:focus {
  background: #333958;
  color: #ffffff;
}
.nav_top .close p,
.nav_top .close p a {
  font-size: 12px;
  text-align: center;
  color: #576369;
}
.side_bar {
  overflow-y: auto;
  position: fixed;
  top: 60px;
  left: 0;
  background: #464e78;
  width: 300px;
  height: 100%;
  /*.side_contain {
		position: absolute;
		top: 0;
		left: 0;

		ul {
			width: 100%;
			padding: 0;
			margin: 0;

			li {
				padding: 1em .5em;

				.get {
					background: @blue-light;
					padding: 0.3em;
					border-radius: .3em;
					margin-right: 1em;
				}
				.post {
					background: @blue-light;
					padding: 0.3em;
					border-radius: .3em;
					margin-right: 1em;
				}
				list-style: none;
				color: @white;
			}
		}
	}*/
}
.side_bar::-webkit-scrollbar-track-piece {
  background-color: #464e78;
}
.side_bar::-webkit-scrollbar {
  width: 8px;
}
.side_bar::-webkit-scrollbar-thumb {
  background-color: #adb6bd;
  background-clip: padding-box;
  min-height: 28px;
}
.side_bar::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
}
.side_bar .viewport {
  padding-top: 2em;
  color: #ffffff;
  overflow: hidden;
}
.side_bar .viewport li {
  list-style: none;
}
.side_bar .viewport li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}
.side_bar .viewport li .get {
  float: left;
  display: block;
  padding: 1.5em 0em 1.5em 4.5em;
  background: 0.6em center no-repeat url("../img/get.png");
}
.side_bar .viewport li .get:hover {
  background-color: #333958;
  border-right: 3px solid #34c0e2;
}
.side_bar .viewport li .active {
  background-color: #333958;
  border-right: 3px solid #34c0e2;
}
.side_bar .viewport li .post {
  float: left;
  display: block;
  padding: 1.5em 0em 1.5em 4.5em;
  background: 0.6em center no-repeat url("../img/post.png");
}
.side_bar .viewport li .post:hover {
  background-color: #333958;
  border-right: 3px solid #34c0e2;
}
.side_bar .drag_control {
  position: fixed;
  display: inline-block;
  left: 295px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: e-resize;
  width: 10px;
  height: 100%;
  float: right;
  background-color: #333;
}
.list {
  text-align: left;
}
.list .toggler {
  color: #adb6bd;
  font-size: 1.25em;
  margin-left: 8px;
  text-align: center;
  cursor: pointer;
}
.list .toggler.active {
  color: #576369;
}
.list .surveys {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list .card-style {
  overflow: hidden;
  border: 1px solid #f6f6f9;
  display: block;
  margin-top: 10px;
  padding: 20px;
  text-align: left;
  border-radius: 0.5em;
  background: white;
  -webkit-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  -moz-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
}
.list .survey-item {
  overflow: hidden;
  border: 1px solid #f6f6f9;
  display: block;
  margin-top: 10px;
  padding: 20px;
  text-align: left;
  border-radius: 0.5em;
  background: white;
  -webkit-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  -moz-box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.25);
}
.list .survey-name {
  font-weight: 400;
}
.list .list-style {
  min-width: 650px;
}
.list .list-style .survey-item {
  position: relative;
  padding: 0;
  font-size: 14px;
  line-height: 40px;
}
.list .list-style .survey-item .pull-right {
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1200px) {
  .list .list-style .survey-item .stage:not(.active) {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .list .list-style .survey-item .survey-progress-bg {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .list .list-style .survey-item .pull-right {
    position: static;
    line-height: 20px;
    padding-bottom: 10px;
  }
}
.list .list-style .survey-country,
.list .list-style .survey-progress,
.list .list-style .survey-completes,
.list .list-style .survey-end-date {
  color: #adb6bd;
}
.list .list-style .survey-country,
.list .list-style .survey-completes,
.list .list-style .survey-end-date,
.list .list-style .survey-name,
.list .list-style .survey-stage {
  margin: 0 10px;
}
.list .list-style .survey-country {
  margin-right: 0;
}
.list .list-style .survey-end-date,
.list .list-style .survey-completes,
.list .list-style .survey-country,
.list .list-style .survey-name {
  vertical-align: middle;
}
.list .list-style .survey-end-date {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.list .survey-stage .stage {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
  background: #f2f2f2;
  text-indent: -9999px;
  color: transparent;
  line-height: 16px;
}
.list .survey-stage .stage.active {
  background: #adb6bd;
}
.list .list-style {
  min-width: 650px;
}
.list .list-style .list-only {
  display: auto;
}
.list .list-style .grid-only {
  display: none !important;
}
.list .grid {
  text-align: center;
}
.list .grid .grid-only {
  display: auto;
}
.list .grid .list-only {
  display: none !important;
}
.list .grid .survey-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 180px;
  width: 300px;
  margin: 10px;
}
@media screen and (max-width: 1200px) {
  .list .grid .survey-item {
    display: block;
    width: auto;
    height: 150px;
    margin: 10px auto;
  }
}
.list .grid .survey-name {
  display: block;
  max-width: 80%;
  font-size: 16px;
  line-height: 20px;
}
.list .grid .survey-country {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}
.list .grid .survey-country,
.list .grid .survey-end-date {
  color: #adb6bd;
}
.list .grid .survey-end-date:before {
  content: 'Ends\00a0';
}
.list .grid .survey-end-date.ended:before {
  content: 'Ended\00a0';
}
.list .grid .survey-progress {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #f6f6f9;
  font-size: 13px;
}
.list .grid .survey-progress-bg {
  width: 40%;
  display: block;
}
@media screen and (max-width: 1200px) {
  .list .grid .survey-progress-bg {
    display: none;
  }
}
.list .grid .survey-progress-labels {
  position: absolute;
  right: 48px;
  top: 0;
  line-height: 40px;
}
@media screen and (max-width: 1200px) {
  .list .grid .survey-progress-labels {
    right: auto;
    left: 10px;
  }
}
.list .grid .survey-progress-label {
  line-height: 21px;
  font-size: 13px;
  font-weight: 400;
}
.list .grid .survey-completes {
  line-height: 21px;
  font-size: 13px;
  vertical-align: middle;
}
.list .grid .survey-stage {
  position: absolute;
  top: 20px;
  right: 20px;
}
.list .grid .survey-stage .stage {
  display: none;
}
.list .grid .survey-stage .active {
  display: block;
}
.list .grid .survey-end-date {
  font-size: 12px;
  line-height: 20px;
}
.list .survey-progress-label {
  vertical-align: middle;
  margin: 0 10px;
  color: #757eaf;
}
.list .survey-progress-bg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 4px;
  border-radius: 0.5em;
  overflow: hidden;
  background: #f6f6f9;
}
.list .survey-progress-fg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  background: #757eaf;
}
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
ul {
  list-style-type: none;
}
.tabcontainer {
  overflow: hidden;
  margin: 2em;
  border: 1px solid #eeeff2;
  border-radius: 0.5em;
}
.tabcontainer .tabs {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.tabcontainer .tabs li {
  width: 25%;
  list-style: none;
  text-align: center;
  float: left;
  line-height: 4em;
}
.tabcontainer .tabs .current {
  background: #ffffff;
  border-bottom: 2px solid #34c0e2;
  color: #576369;
}
.tabcontainer .tabs a {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: .5em 0em;
  color: #adb6bd;
  text-decoration: none;
  border-right: 1px solid #eeeff2;
  background-color: #fcfcfd;
}
.tabcontainer .tabs a:hover {
  background: #ffffff;
  border-bottom: 2px solid #34c0e2;
  color: #576369;
}
.tabcontainer .tabs a:focus {
  background: #ffffff;
  border-bottom: 2px solid #34c0e2;
  color: #576369;
}
.tabcontainer .content {
  overflow-y: auto;
  background: #ffffff;
  text-align: left;
  padding: 1em 2em;
}
.listhover {
  background-color: #333958;
  border-right: 3px solid #34c0e2;
}
body {
  font-family: Arial;
  font-size: 12px;
  padding-left: 300px;
  margin: 0;
  padding-top: 60px;
  background-color: #f6f6f9;
}
@media (max-width: 768px) {
  body {
    font-size: 13.2px;
  }
}
#main_container {
  padding-top: 1.5em;
}
#main_container .title {
  margin: 1em 2em;
  font-size: 14px;
}
#main_container .title .father {
  color: #34c0e2;
}
#main_container .title .children {
  color: #576369;
}
#main_container .title .clickable {
  cursor: pointer;
}
