
@basegrey:#fcfcfd;
@light-grey: darken(@basegrey,2%);
@middle-grey: #eeeff2;
@word-grey: #adb6bd;
@word-black: #576369;
@white: #fff;
@purple-dark: #464e78;
@purple-light:lighten(@purple-dark,20%);
@greyblue-dark: #26393D;
@blue-light: #34c0e2;
@blue-dark: darken(@purple-dark, 10%);
@mark-red: #e3746f;